@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --navigation-height: 64px;

        /* Scrollbar */
        --scrollbar-thumb-color: #f7abc5;
        --scrollbar-thumb-radius: 10px;
        --scrollbar-width: 5px;

        /* Color */
        --color-primary: 253 121 168;
        --color-black: 99 110 114;
    }

    /* Google font icon */
    .material-symbols-outlined {
        font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 40;
    }
    .fill.material-symbols-outlined {
        font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 40;
    }

    body {
        -webkit-tap-highlight-color: transparent;
        user-select: none;
        font-family: 'Nunito', sans-serif;
        color: rgb(var(--color-black) / 1);
    }

    /* Scroll bar */
    ::-webkit-scrollbar {
        width: var(--scrollbar-width);
    }
    ::-webkit-scrollbar-thumb {
        background: var(--scrollbar-thumb-color);
        border-radius: var(--scrollbar-thumb-radius);
    }
}

@layer components {
    .my-container {
        @apply w-full px-4;
    }

    .bullet {
        @apply inline-block w-2 h-2 mx-0.5 p-1 rounded-full bg-primary bg-opacity-20;
    }

    .bullet-active {
        @apply bg-primary bg-opacity-60 p-[5px];
    }
}
