@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Dancing+Script:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --navigation-height: 64px;

        /* Scrollbar */
        --scrollbar-thumb-color: #f7abc5;
        --scrollbar-thumb-radius: 10px;
        --scrollbar-width: 5px;

        /* Color */
        --color-primary: 253 121 168;
        --color-dark: 99 110 114;
    }

    /* Google font icon */
    .material-symbols-outlined {
        font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 40;
    }
    .fill.material-symbols-outlined {
        font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 40;
    }

    body {
        -webkit-tap-highlight-color: transparent;
        user-select: none;
        font-family: 'Nunito', sans-serif;
        color: rgb(var(--color-dark) / 1);
        /* background-color: theme(colors.slate.100); */
    }

    /* Scroll bar */
    ::-webkit-scrollbar {
        width: var(--scrollbar-width);
        height: var(--scrollbar-width);
    }
    ::-webkit-scrollbar-thumb {
        background: var(--scrollbar-thumb-color);
        border-radius: var(--scrollbar-thumb-radius);
    }
}

@layer components {
    .my-container {
        @apply mx-auto px-4 max-w-7xl sm:px-6 md:px-8 xl:p-0;
    }

    .my-container-full {
        @apply w-[calc(100vw-5px)] relative overflow-x-scroll left-1/2 -translate-x-1/2 lg:w-full;
    }

    .bullet {
        @apply inline-block mx-0.5 p-[3px] rounded-full bg-primary bg-opacity-20;
    }

    .bullet-active {
        @apply bg-primary bg-opacity-60 p-[4px];
    }

    .overlay-show {
        @apply opacity-100 [transition:opacity_0.3s_0.3s_ease-in-out] pointer-events-auto;
    }

    .overlay-hide {
        @apply opacity-0 [transition:opacity_0.3s_ease-in-out] pointer-events-none;
    }
}
